.random-container {
  img {
    width: 20px;
    margin-right: 10px;
  }
  .heading {
    display: flex;
    h3 {
      font-family: recoMedium;
    }
  }
  p {
    font-family: rebondG-Medium;
  }
}
