.top-nav-container {
  display: flex;
  padding: 10px 0;
  // margin-top: 70px;
  // background: #f9f8fb;
  @media screen and (max-width: 620px) {
    display: none;
  }
  .topnav-heading {
    flex-grow: 1 !important;
  }
  .top-nav-links {
    padding: 8px 20px;
    color: #414244;
    text-decoration: none;
    font-weight: bold;
    font-family: rebondG-Semi-Bold;
    font-size: 14px;
    border: none;
    background: inherit;
    &:hover {
      background: rgb(231, 231, 231) !important;

      border-radius: 50px;
      transition: 0.5s ease;
    }
  }
  .active {
    background: #e7e7e7;
    border-radius: 35px;
  }
}
