.footer-container {
  height: fit-content;
  padding-top: 100px;
  background: rgb(30, 30, 30);
  color: #fff;
  @media screen and (max-width: 620px) {
    padding-top: 50px;
    margin-top: 40px;
  }
  .quick-links ul li {
    line-height: 40px;
    text-align: left;
  }
  .links {
    color: #fff;
    text-decoration: none;
    font-family: rebondG;
    font-weight: 100 !important;
    font-size: 14px;
  }
  .connect ul li {
    line-height: 35px;
    margin: 0 10px;
  }
  .credits-container {
    display: flex;
    border-top: solid 1px rgb(155, 154, 154);
    margin-top: 60px;
    padding-top: 30px;
    p {
      //   flex-grow: 1;
    }
  }
  .mobile-ul {
    @media screen and (max-width: 620px) {
      margin-left: 20px;
    }
  }
}
