.footer-container {
  height: fit-content;
  padding-top: 100px;
  background: rgb(30, 30, 30);
  color: #fff;
  .quick-links ul li {
    line-height: 40px;
    text-align: left;
  }
  .links {
    color: #fff;
    text-decoration: none;
    font-family: rebondG;
    font-weight: 100 !important;
    font-size: 14px;
  }
  .connect ul li {
    line-height: 35px;
    margin: 0 10px;
  }
  .credits-container {
    display: flex;
    p {
      flex-grow: 1;
    }
  }
}
