@import "../../../variables";
@import "../../../shared-styles";

.mobile-drop-container {
  .accordion-button::after {
    margin-left: 20px !important;
    margin-top: 0px !important;
  }
  .accordion-header {
    background: none !important;
    // padding-bottom: 80px;
  }
  p {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: rebondG-Semi-Bold;
  }
  .accordion-body {
  }
  .accordion-button:not(.collapsed) {
  }
  .accordion-item {
    border: none !important;
  }

  .accordion-button:focus {
    outline: none !important;
    color: #161617 !important;
  }
  .accordion-button:hover {
    outline: none !important;
    background: none !important;
  }
  .accordion-button {
    font-family: brother-regular;

    padding: 15px 5px 15px 0px !important;
  }
  .accordion-button::after {
    background-image: none !important;
    content: "\02C7";
    font-size: 25px !important;
    color: black !important;
    margin-top: 5px !important;
    font-weight: bold !important;
  }
  .accordion-button:not(.collapsed)::after {
    content: "\02C6" !important;
    margin-top: -5px !important;
  }
  .accordion-button:not(.collapsed) {
    color: black !important;
    box-shadow: none !important;
    border: none !important;
  }
}
