.navbar-container {
  background: red;
  padding: 10px 80px;
  display: flex;

  .logo-holder {
    flex-grow: 1;
  }
  .nav-links-container {
    .nav-links {
      color: #fff !important;
      text-decoration: none;
    }
  }
}
