@import "../../variables";
@import "../../shared-styles";

.navbar-container {
  background: red;
  padding: 10px 80px;
  display: flex;

  .logo-holder {
    flex-grow: 1;
  }
  .nav-links-container {
    flex-grow: 1;
    .nav-links {
      color: black;
      text-decoration: none;
    }
  }
  .nav-buttons {
    .get-started-button {
      @include get-started-button;
      margin-left: 10px;
    }
    .sign-in-button {
      @include login-or-signup-button;
    }
  }
}
