$blue: #0098da;

@mixin get-started-button {
  background-color: $blue;
  color: #fff;
  border-radius: 35px;
  border: none;
  padding: 10px 25px;
}
@mixin login-or-signup-button {
  baclground: #fff;
  color: black;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 12px;
  border: none;
  border: solid 1px grey;
}
