@font-face {
  font-family: rebondG;
  src: url(./assets/fonts/Rebond_font/RebondG.otf);
}
@font-face {
  font-family: rebondG-Bold;
  src: url(./assets/fonts/Rebond_font/RebondG-Bold.otf);
}
@font-face {
  font-family: rebondG-Medium;
  src: url(./assets/fonts/Rebond_font/RebondGrotesqueMedium.otf);
}

@font-face {
  font-family: recoMedium;
  src: url(./assets/fonts/Recoleto-font/RecoletaAlt-Medium.ttf);
}
