@font-face {
  font-family: rebondG;
  src: url(./assets/fonts/Rebond_font/RebondG.otf);
}
@font-face {
  font-family: rebondG-Bold;
  src: url(./assets/fonts/Rebond_font/RebondG-Bold.otf);
}

@font-face {
  font-family: reco;
  src: url(./assets/fonts/Recoleta-Font/recoleta-regulardemo.otf);
}
