@import "../../variables";
@import "../../shared-styles";

.modern-solutions-container {
  padding-top: 80px;
  padding-bottom: 150px;
  background: rgb(240, 240, 240);
  background: linear-gradient(
    0deg,
    rgba(240, 240, 240, 1) 51%,
    rgba(255, 255, 255, 1) 67%
  );

  h1 {
    font-family: recoMedium;
  }
  p {
    font-family: rebondG-Medium;
    font-size: 20px;
    margin-top: 15px;
  }
  .gs-button {
    @include get-started-button;
  }
  .request-button {
    @include login-or-signup-button;
    margin-left: 5px;
  }
}
.actions-container {
  background: $lightblue;
  height: fit-content;
  display: flex;
  padding: 80px 100px;
}
.features-heading {
  margin-top: 170px;
  margin-bottom: 90px;
}
.features-container {
  border: solid 2px rgb(234, 232, 232);
  box-shadow: 0 0 2px 2px rgb(238, 235, 235);
  border-radius: 10px !important;
  height: fit-content;
  // margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: #fff;
  .first-container {
    padding-right: 130px;
    background: #fff;
    padding-left: 30px;
    border-right: solid 1px rgb(206, 205, 205);
    h3 {
      margin-top: 150px;
    }
    p {
      font-size: 19px;
      line-height: 23px;
    }
    button {
      @include get-started-button;
      margin-bottom: 120px;
    }
  }
  .second-grid {
    border-top: solid 1px rgb(231, 228, 228);
    // box-shadow: 0 0 1px 1px rgb(238, 235, 235);
  }
  .right-features {
    // box-shadow: 0 0 1px 1px rgb(238, 235, 235);
    border-right: solid 1px rgb(231, 228, 228);
  }
}
.features-holder {
  background: rgb(240, 240, 240);
  background: linear-gradient(
    0deg,
    rgba(240, 240, 240, 1) 51%,
    rgba(255, 255, 255, 1) 67%
  );
}
.features-holder2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(240, 240, 240, 1) 36%,
    rgba(255, 255, 255, 1) 80%
  );
  padding-bottom: 150px;
}
.bundles {
  border: solid 2px rgb(234, 232, 232);
  box-shadow: 0 0 2px 2px rgb(238, 235, 235);
  border-radius: 10px !important;
  height: 200px;
  // margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.products-container {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 15%,
    rgba(240, 240, 240, 1) 18%,
    rgba(255, 255, 255, 1) 54%,
    rgba(240, 240, 240, 1) 80%,
    rgba(255, 255, 255, 1) 91%
  );
  height: fit-content;
  .first-product-column {
    padding: 50px 0px;
    background: #ffff;
    border-top: solid 1px rgb(233, 229, 229);
    border-left: solid 1px rgb(233, 229, 229);
    margin-top: 150px;
    border-top-left-radius: 12px;
    box-shadow: 0 0 1px 1px rgb(233, 229, 229);
  }
  .second-product-column {
    padding: 50px 0px;
    background: #ffff;
    border: solid 1px rgb(233, 229, 229);
    box-shadow: 0 0 1px 1px rgb(233, 229, 229);
    border-radius: 12px;

    margin-top: 50px;
  }
  .third-product-column {
    padding: 50px 0px;
    background: #ffff;
    border-top: solid 1px rgb(233, 229, 229);
    border-right: solid 1px rgb(233, 229, 229);
    margin-top: 150px;
    box-shadow: 0 0 1px 1px rgb(233, 229, 229);
    border-top-right-radius: 12px;
  }
  .grid1 {
    border-right: solid 1px rgb(233, 229, 229);
  }
  .other-components {
    padding-top: 100px;
  }
  button {
    @include login-or-signup-button;
  }
}
.partners-container {
  img {
    height: 80px;
    width: 180px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
