.consulting-container {
  padding: 280px 0;
  background: url("../../assets/images/construction-dp.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  small {
    color: #ace6ff;
    font-size: 16px;
    font-family: rebondG-Medium;
  }
  h1 {
    font-size: 40px;
    margin: 30px 0;
  }
  p {
    margin-bottom: 30px;
  }
}
