@import "../../variables";
@import "../../shared-styles";
.calendar-nav-div {
  background: #def5ff;
}
.calendar-div {
  background: #def5ff;
  padding: 60px 0;
  h1 {
    font-family: recoAltMedium;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .demo {
    @include get-started-button;
    background: transparent;
    color: #161617;
    border: solid 1px #7da0c3;
    &:hover {
      background: transparent;
      transition: 0.5s ease;
      border: solid 1px #414244;
    }
  }
}
.cal-management {
  .wallet {
    padding: 60px 40px;
    height: 402px;
    border-radius: 20px;
    border: solid 1px #7aa397;
    background: #fff;
    h4 {
      font-family: recoAltMedium;
      margin: 30px 0;
    }
  }
  img {
    height: 83px;
    width: 83px;
  }
}
