.carousl,
.carousel-innr,
.carousel-inner > .carousel-item {
  //   overflow: hidden;
  width: 100% !important;
}
.carousel-inner > .carousel-item.active,
.carousel-inner > .carousel-item-next {
  display: flex;
  flex-wrap: nowrap;
}
// .carousel-inner:before {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 92%;
//   left: 0;
//   content: "";
//   display: block;
//   background-color: red;
//   z-index: 2;
// }
// .carousel-inner:after {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 92%;
//   content: "";
//   display: block;
//   background-color: green;
//   z-index: 2;
// }

.carousel-control-prev {
  z-index: 2000;
  left: 22%;
}

.carousel-control-next {
  z-index: 2000;
  right: 22%;
}
