.club-features-container {
  
  background: rgba(255, 255, 255, 0.4);
  padding: 30px;
  height: 338px;
  border-radius: 10px;
  border: solid 1px #ed2f597c;
  
  img {
    height: 45px;
    width: 45px;
  }
  h4 {
    margin: 20px 0;
  }
  @media screen and (max-width: 620px) {
    margin-top: 30px;
  }
}
