.timetable-features-container {
  background: #fff;
  padding: 30px;
  height: 338px;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #16161715;
  img {
    height: 45px;
  }
  h4 {
    margin: 20px 0;
  }
}
