$blue: #0098da;
$lightblue: #e1f2fa;
$purple: #5044b2;
@mixin get-started-button {
  color: #fff;
  border-radius: 35px;
  border: none;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  font-family: rebondG;
  &:hover {
    background: #005b83;
    transition: 0.5s ease;
  }
}
@mixin login-or-signup-button {
  background: #fff !important;
  color: black;
  border-radius: 20px;
  padding: 9px 22px;
  font-size: 18px;
  border: none;
  border: solid 2px rgb(230, 225, 225);
  font-family: rebondG;
  &:hover {
    background: grey;
    transition: 0.5s ease;
  }
}
