@font-face {
  font-family: rebondG;
  src: url(./assets/fonts/Rebond_font/RebondG.otf);
}
@font-face {
  font-family: rebondG-Bold;
  src: url(./assets/fonts/Rebond_font/RebondG-Bold.otf);
}
@font-face {
  font-family: rebondG-Semi-Bold;
  src: url(./assets/fonts/Rebond_font/Rebond-semibold.otf);
}
@font-face {
  font-family: rebondG-Medium;
  src: url(./assets/fonts/Rebond_font/RebondGrotesqueMedium.otf);
}
@font-face {
  font-family: rebondBook;
  src: url(./assets/fonts/Rebond_font/RebondG-Book.ttf);
}
@font-face {
  font-family: rebondLight;
  src: url(./assets/fonts/Rebond_font/RebondGLight.otf);
}

@font-face {
  font-family: recoMedium;
  src: url(./assets/fonts/Recoleto-font/RecoletaAlt-Medium.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: recoMedium;
}
p {
  font-family: rebondBook;
  font-size: 16px;
}
ul li {
  font-family: rebondBook;
  font-size: 16px;
}
button {
  font-family: rebondG-Semi-Bold;
}
@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}
@media screen and (max-width: 620px) {
  .flexyM {
    display: flex;
  }
}
@media screen and (max-width: 620px) {
  body {
    padding: 0 7px;
  }
}
